# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/

# MLflow artifacts
mlruns/

# Models
*.pkl
*.joblib

# Dataset
data/raw/
data/temp/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

